<a href="https://colab.research.google.com/github/prithwis/parashar21/blob/main/P21_MultiCast_v4_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](http://1.bp.blogspot.com/_5QlanosqxiQ/SXLOLTu7S7I/AAAAAAAAAm8/0r6C7lCxsic/S1600-R/p21-header-003.png) <br>


---


![CC-BY-SA](https://licensebuttons.net/l/by-sa/3.0/88x31.png) ||
[Prithwis Mukerjee](http://www.yantrajaal.com) ||
Website - [Parashar21](https://parashar21.blogspot.com)<br>

#Create Charts and store in MongoDB

#Setup

##Install Swiss Ephemeris <br>

https://pypi.org/project/pyswisseph/  - Python Package Documentation <br>
https://www.astro.com/swisseph/swephinfo_e.htm <br>
https://www.astro.com/swisseph/swephprg.htm - Programmer Documentation <br>
https://pythonhosted.org/pyswisseph/swisseph-module.html

In [1]:
!pip -qq install pyswisseph                                 # https://stackoverflow.com/questions/64277506/pip-install-options-unclear
!pip -qq install python_string_utils
!pip -qq install python-docx                                #https://python-docx.readthedocs.io/en/latest/
#!pip install pyswisseph==2.10.2.0.dev1
!apt install mongodb > /dev/null

     |████████████████████████████████| 521 kB 6.8 MB/s
  Building wheel for pyswisseph (setup.py) ... done
     |████████████████████████████████| 5.6 MB 8.9 MB/s
  Building wheel for python-docx (setup.py) ... done

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

In [2]:
#Load p21 modules from github
!wget -O p21.py -q https://raw.githubusercontent.com/prithwis/parashar21/main/utils/p21.py                  # all global variables
!wget -O p21utils.py -q https://raw.githubusercontent.com/prithwis/parashar21/main/utils/p21utils.py        # large number of utility functions

# ---------------------------
import p21
import p21utils
# ------------------------------------------------
# required for multiple imports of the same module
# ------------------------------------------------
import importlib
importlib.reload(p21)
importlib.reload(p21utils)

p21utils imported
p21utils imported

In [3]:
#Download Swiss Ephemeris Files 
!wget -q http://www.astro.com/ftp/swisseph/ephe/seas_18.se1
!wget -q http://www.astro.com/ftp/swisseph/ephe/semo_18.se1
!wget -q http://www.astro.com/ftp/swisseph/ephe/sepl_18.se1
!mkdir ephe
!mv *.se1 ephe
#------------------------------
# Configure SWE
p21utils.configSWE()

In [27]:
#!cat p21utils.py

#Connect to MongoDB

In [4]:
from pymongo import MongoClient
import pandas as pd
import dateutil
import string_utils

In [5]:
from google.colab import drive
drive.mount('/content/drive')
# --------------------------------------------
# copy credentials file
!cp /content/drive/'My Drive'/Praxis/WebCredentials/clevercloudMongoDB.py credentials.py
# -----------------------------------------------
# credential file for Prithwis Mukerjee
# this file needs to be uploaded into the VM

from credentials import rhostName,ruserName,rpassWord,rdbName,rMongoURI

#print(rhostName,ruserName,rdbName)
print(rdbName)
#print(rMongoURI)
# -----------------------------------------------
mongoURI = rMongoURI                                   # for remote server
#mongoURI = "mongodb://localhost:27017/"
client = MongoClient(mongoURI)
client.list_database_names() # ['admin', 'local']

Mounted at /content/drive
btncgfi3a5bxyea

['btncgfi3a5bxyea']

In [6]:
db = client.btncgfi3a5bxyea
# Show Collections. Query returns a Cursor [ ] ,  list it to see the content
list (db.list_collections())
# empty list '[]' means that there are not collections in database

[{'idIndex': {'key': {'_id': 1},
   'name': '_id_',
   'ns': 'btncgfi3a5bxyea.p21Charts',
   'v': 2},
  'info': {'readOnly': False,
   'uuid': UUID('af531836-28c4-4676-a261-5023436ae25d')},
  'name': 'p21Charts',
  'options': {},
  'type': 'collection'},
 {'idIndex': {'key': {'_id': 1},
   'name': '_id_',
   'ns': 'btncgfi3a5bxyea.restaurants',
   'v': 2},
  'info': {'readOnly': False,
   'uuid': UUID('44fb1466-2fc0-4786-8c94-e14a669c7160')},
  'name': 'restaurants',
  'options': {},
  'type': 'collection'}]

In [7]:
db = client.btncgfi3a5bxyea
db.p21Charts.drop()
db.p21Charts2.drop()
db.create_collection('khawnaa42')       # https://feminisminindia.com/2019/06/07/khawna-khana-poet-rural-bengal/
                                        # https://en.wikipedia.org/wiki/Khana_(poet)
kollection = db.khawnaa42                   # Set the collection to work with

#Load Data

In [8]:
import pandas as pd
!gdown -O peopleData.csv https://drive.google.com/uc?id=1CVo1gnMZyCD0EZvAoF_wRdTwL7yqIT6L # 5 Person Test Data
#!sed -i '1d' peopleData.csv 
#!cat peopleData.csv
df = pd.read_csv('peopleData.csv')
df.head()

Downloading...
From: https://drive.google.com/uc?id=1CVo1gnMZyCD0EZvAoF_wRdTwL7yqIT6L
To: /content/peopleData.csv
100% 665/665 [00:00<00:00, 511kB/s]

  Gender    Voc1_Cat Voc1_Det  ... TZ_Name   TZ_Type      Name
0      M    Engineer      nil  ...     IST  standard      somu
1      F      Author      nil  ...     IST  standard      gopa
2      M    Engineer      nil  ...     IST  standard    rahool
3      F   Biologist      nil  ...     IST  standard  nilanjan
4      M  Politician      nil  ...     IST  standard    NDModi

[5 rows x 18 columns]

#Driver Code

In [13]:
for person in range(len(df)):
    personData =df.iloc[person]
    p21utils.parsePersonData(personData)
    p21utils.convertDates()
    p21utils.calculateGrahaPositions()
    p21utils.buildGLonGRet()
    #print(chart)
    #print(Glon)
    p21utils.appendDict(p21.chart,p21.GLon)
    #print(chart)
    p21utils.appendDict(p21.chart,p21.GRet)
    insert_result = kollection.insert_one(p21.chart)
    insert_result.acknowledged    # Confirms that insert is successful
    print(p21.chart)

2437588.257638889 Julian Date of DTofB in Universal Time
Lahiri Ayanamsha : 23.32332723905847
{'pid': {'tags': ['Engineer', 'Teacher', 'PostGraduate'], 'ck': 'M1961101523:425.522.5788.37', 'name': 'usom'}, 'GLon': {'La': 98.204, 'Su': 178.826, 'Mo': 250.52, 'Ma': 196.183, 'Me': 193.17, 'Ju': 274.781, 'Ve': 153.753, 'Sa': 270.179, 'Ra': 122.089, 'Ke': 302.089}, 'GRet': {'La': False, 'Su': False, 'Mo': False, 'Ma': False, 'Me': True, 'Ju': False, 'Ve': False, 'Sa': False, 'Ra': False, 'Ke': False}, '_id': ObjectId('61dcfb45229a1c151e5a25df')}
2439113.7055555554 Julian Date of DTofB in Universal Time
Lahiri Ayanamsha : 23.381658282103217
{'pid': {'tags': ['Author', 'Homemaker', 'PostGraduate'], 'ck': 'F1965121910:265.522.5788.37', 'name': 'apgo'}, 'GLon': {'La': 310.415, 'Su': 243.701, 'Mo': 201.001, 'Ma': 273.467, 'Me': 222.269, 'Ju': 62.748, 'Ve': 284.966, 'Sa': 318.17, 'Ra': 41.248, 'Ke': 221.248}, 'GRet': {'La': False, 'Su': False, 'Mo': False, 'Ma': False, 'Me': False, 'Ju': True, 'Ve': False, 'Sa': False, 'Ra': False, 'Ke': False}, '_id': ObjectId('61dcfb45229a1c151e5a25e0')}
2448174.2347197654 Julian Date of DTofB in Universal Time
Lahiri Ayanamsha : 23.728142610514624
{'pid': {'tags': ['Engineer', 'Teacher', 'PostGraduate'], 'ck': 'M199010923:095.522.5788.37', 'name': 'oarolh'}, 'GLon': {'La': 85.351, 'Su': 172.44, 'Mo': 63.984, 'Ma': 49.966, 'Me': 163.275, 'Ju': 105.898, 'Ve': 166.538, 'Sa': 265.202, 'Ra': 280.65, 'Ke': 100.65}, 'GRet': {'La': False, 'Su': False, 'Mo': False, 'Ma': False, 'Me': False, 'Ju': False, 'Ve': False, 'Sa': False, 'Ra': False, 'Ke': False}, '_id': ObjectId('61dcfb45229a1c151e5a25e1')}
2448146.306942638 Julian Date of DTofB in Universal Time
Lahiri Ayanamsha : 23.72707456437024
{'pid': {'tags': ['Biologist', 'Scientist', 'PostGraduate'], 'ck': 'F19909120:525.522.8788.37', 'name': 'njailnna'}, 'GLon': {'La': 84.138, 'Su': 145.068, 'Mo': 54.233, 'Ma': 41.525, 'Me': 138.242, 'Ju': 101.216, 'Ve': 131.788, 'Sa': 265.084, 'Ra': 282.763, 'Ke': 102.763}, 'GRet': {'La': False, 'Su': False, 'Mo': False, 'Ma': False, 'Me': True, 'Ju': False, 'Ve': False, 'Sa': True, 'Ra': False, 'Ke': False}, '_id': ObjectId('61dcfb45229a1c151e5a25e2')}
2433541.66875 Julian Date of DTofB in Universal Time
Lahiri Ayanamsha : 23.168596401905525
{'pid': {'tags': ['Politician', 'Administrator', 'nil'], 'ck': 'M19509179:345.523.4872.36', 'name': 'iDNMdo'}, 'GLon': {'La': 191.897, 'Su': 150.533, 'Mo': 217.939, 'Ma': 210.889, 'Me': 150.848, 'Ju': 306.602, 'Ve': 135.613, 'Sa': 149.644, 'Ra': 335.211, 'Ke': 155.211}, 'GRet': {'La': False, 'Su': False, 'Mo': False, 'Ma': False, 'Me': True, 'Ju': True, 'Ve': False, 'Sa': False, 'Ra': False, 'Ke': False}, '_id': ObjectId('61dcfb45229a1c151e5a25e3')}

In [17]:
# Check data loaded into MongoDb
#c = kollection.find()
#for crnt in c:
#    print(crnt)
pd.DataFrame(list(kollection.find()))

                        _id  ...                                               GRet
0  61dcfb45229a1c151e5a25df  ...  {'La': False, 'Su': False, 'Mo': False, 'Ma': ...
1  61dcfb45229a1c151e5a25e0  ...  {'La': False, 'Su': False, 'Mo': False, 'Ma': ...
2  61dcfb45229a1c151e5a25e1  ...  {'La': False, 'Su': False, 'Mo': False, 'Ma': ...
3  61dcfb45229a1c151e5a25e2  ...  {'La': False, 'Su': False, 'Mo': False, 'Ma': ...
4  61dcfb45229a1c151e5a25e3  ...  {'La': False, 'Su': False, 'Mo': False, 'Ma': ...

[5 rows x 4 columns]

In [20]:
#Retrieves Charts based on tags
pd.DataFrame(list(kollection.find({'pid.tags': {"$in": ['Scientist','Author']}},{'pid.tags':1,'GLon':1,'GRet':1,'_id':0})))
#c = kollection.find({'pid.tags': {"$in": ['Scientist','Author']}},{'pid.tags':1,'GLon':1,'GRet':1,'_id':0})
#for crnt in c:
#    print(crnt)

                                                 pid  ...                                               GRet
0  {'tags': ['Author', 'Homemaker', 'PostGraduate']}  ...  {'La': False, 'Su': False, 'Mo': False, 'Ma': ...
1  {'tags': ['Biologist', 'Scientist', 'PostGradu...  ...  {'La': False, 'Su': False, 'Mo': False, 'Ma': ...

[2 rows x 3 columns]

#Chronobooks <br>
![alt text](https://1.bp.blogspot.com/-lTiYBkU2qbU/X1er__fvnkI/AAAAAAAAjtE/GhDR3OEGJr4NG43fZPodrQD5kbxtnKebgCLcBGAsYHQ/s600/Footer2020-600x200.png)<hr>
Chronotantra and Chronoyantra are two science fiction novels that explore the collapse of human civilisation on Earth and then its rebirth and reincarnation both on Earth as well as on the distant worlds of Mars, Titan and Enceladus. But is it the human civilisation that is being reborn? Or is it some other sentience that is revealing itself. 
If you have an interest in AI and found this material useful, you may consider buying these novels, in paperback or kindle, from [http://bit.ly/chronobooks](http://bit.ly/chronobooks)